#sidebar {
    float: left;
    width: 25%;
    padding: 10px;
    background: #f0f0f0;
    margin-right: 20px;
    border-radius: 5px;
}

#club-info {
    float: left;
    width: 70%;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

.club {
    margin: 20px 0;
}
